.container {
  overflow-x: hidden;
}
.jumbotron {
  padding-top: 6rem;
}
.warna1 {
  background-color: #472d2d;
}
.warna2 {
  background-color: #553939;
}
.warna3 {
  background-color: #704f4f;
}
.warna4 {
  background-color: #a77979;
}
section {
  padding-top: 5rem;
}
.no-decoration {
  text-decoration: none;
}
.warna5 {
  background-color: #f4dfb6;
}

.footer .github a:hover{
  color: white;
  transition: 0.3s;
}
.footer .instagram a:hover {
  color: #E1306C;
  cursor: pointer;
  transition: 0.3s;
}

.footer .whatsapp a:hover {
  color: #25D366;
  cursor: pointer;
  transition: 0.3s;
}

.footer a {
  color: white;
}

